<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
      <form method="POST" action="/piglatinize">
      <p>Enter your phrase:</p>
      <textarea name="user_phrase"></textarea>
      <input type="submit" value="submit">
      </form>
  </body>
</html>